<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="colum">
      <div class="row">
      <%= image_tag @user.get_profile_image(100,100) %>
      </div>
      <div class="row">
        <p class="col-2">名前</p>
        <p class="col-2"><%= @user.name %></p>
      </div>
      <div class="row">
        <p class="col-2">紹介文</p>
        <p class="col-8"><%= @user.introduction %></p>
      </div>
      <% if @user.id == current_user.id %>
      <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="colum">
      <% @books.each do |book| %>
      <div>
        <%= link_to book_path(book.id) do %>
          <%= image_tag book.get_image %>
        <% end %>
        <p>ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
        <p>題名：<%= book.title %></p>
        <p>感想：<%= book.body %></p>
        <p>ユーザーネーム：<%= book.user.name %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>