<div>
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
  <% end %>
  <h3>USER</h3>
  <div class="row">
  <%= image_tag user.get_profile_image(100,100) %>
  </div>
  <div class="row">
    <p class="col">名前</p>
    <p class="col"><%= user.name %></p>
  </div>
  <div class="row">
    <p class="col">紹介文</p>
    <p class="col"><%= user.introduction %></p>
  </div>
  <div class="row">
      <i class="fa-solid fa-user-gear"></i>
      <p><%= link_to "プロフィール編集", edit_user_path(user.id) %></p>
  </div>


  <div class="row">
    <div class="col">
      <h3>New book</h3>
      <div class="row">
        <% if new_book.errors.any? %>
          <%= new_book.errors.count %>件のエラーが発生しました
          <p>error</p>
          <ul>
            <% new_book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_with model: new_book do |f| %>
          <h4>表紙</h4>
          <%= f.file_field :image, accept: "image/*" %>
          <h4>題名</h4>
          <%= f.text_field :title %>
          <h4>感想</h4>
          <%= f.text_area :body %>
          <div class="btn"><%= f.submit 'Create Book' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="offset-md-1"></div>