<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/9235c0d6d5.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navber navbar-light bg-dark">
      <h1 class="Bookers2 text-center">Booker2</h1>
      <% if user_signed_in? %>
        <li class="link">
          <%= link_to 'Users', users_path, {:class => "link"} %>
        </li>
        <li class="link">
          <%= link_to 'Books', books_path, {:class => "link"}%>
        </li>
        <li class="link">
        <%= link_to 'Home', user_path(current_user.id), {:class => "link"} %>
        </li>
        <li class="link">
          <%= link_to "Log out", destroy_user_session_path, {:class => "link", method: :delete} %>
        </li>
      <% else %>
        <li class="link">
          <%= link_to "Sign up", new_user_registration_path, {:class => "link"} %>
        </li>
        <li class="link">
          <%= link_to "Log in", new_user_session_path, {:class => "link"} %>
        </li>
        <li class="link">
          <%= link_to 'About', about_path, {:class => "link"} %>
        </li>
        <li class="link">
          <%= link_to 'Home', root_path, {:class => "link"} %>
        </li>
      <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
